* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url(./coding1.jpg);
    background-size: cover;
    background-position: center;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5vh;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .logo {
    color: white;
    font-size: 2.5vw;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  span {
    color: #f9004d;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1vh 2.5vw;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
  }
  
  .btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 1vh 2.5vw;
    border-radius: 30px;
    transition: transform .4s;
  }
  
  .btn:hover {
    transform: scale(1.2);
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
  }
  
  h2 {
    color: white;
    font-size: 6vw;
    margin: 2vh 0;
  }
  
  h3 {
    color: white;
    font-size: 1.75vw;
    margin-bottom: 4vh;
  }
  
  h4 {
    color: #FF00FF;
    letter-spacing: 2px;
    font-size: 1.5vw;
  }
  
  .about {
    width: 100%;
    padding: 10vh 0;
    background-color: #191919;
  }
  
  .about img {
    height: auto;
    width: 45vw;
    max-width: 430px;
  }
  
  .about-text {
    width: 45vw;
    max-width: 550px;
  }
  
  .main {
    width: 95%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .about-text h2 {
    color: white;
    font-size: 6vw;
    text-transform: capitalize;
    margin-bottom: 2vh;
  }
  
  .about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 1.75vw;
    margin-bottom: 2.5vh;
    text-transform: capitalize;
  }
  
  .about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 2.8vh;
    font-size: 1.5vw;
    margin-bottom: 4.5vh;
  }
  
  footer {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .social {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
  }
  
  footer .ownership {
    color: white;
    margin-top: 2.5vh;
  }
  